<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dbConnStr" value="Server=120.26.204.202;Port=3306;Database=lvkangju;User=Admin;Password=GuoRongLin123;"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>