<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dbConnStr" value="Server=liulundb.mysql.rds.aliyuncs.com;Port=3306;Database=developer_news;User=allen;Password=kivi0405;"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>