<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.7" targetFramework="net4" />
  <package id="RestSharp" version="105.2.3" targetFramework="net4" />
  <package id="ServiceStack.Common" version="4.0.46" targetFramework="net4" />
  <package id="ServiceStack.Interfaces" version="4.0.46" targetFramework="net4" />
  <package id="ServiceStack.OrmLite" version="4.0.46" targetFramework="net4" />
  <package id="ServiceStack.OrmLite.MySql" version="4.0.46" targetFramework="net4" />
  <package id="ServiceStack.Text" version="4.0.46" targetFramework="net4" />
</packages>